.contacts {
    width:100%;
    position: relative;
    margin:auto;
    &__title {
        font-size:22pt;
        color:#fff;
        margin:0;
        padding:0;
        text-align: center;
        padding-bottom:24pt;
        text-shadow:1px 1px 1px #222;
        @media(min-width:1024px) {
            font-size:32pt;
            padding-bottom:48pt;
        }
    }
    &__form {
        padding:12pt;
        padding-top:0;
    }
    &__form-form {
        input {
            width:100%;
            margin-bottom:12pt; 
            padding:6pt;
            border-radius: 6pt;
            border:none;
            box-shadow:2px 2px 2px gray inset;
        }
        textarea {
            width:100%;
            margin-bottom:12pt; 
            padding:6pt;
            border-radius: 6pt;
            min-height: 200px;
            box-shadow:2px 2px 2px gray inset;
            resize: none;

        }
        button {
            border:none;
            outline:none;
            padding:6pt 12pt;
            border-radius: 9999px;
            width:200px;
            box-shadow:1px 2px 3px gray;
        }
    }
}